{% extends "components/base.twig" %}
{% from "mock/ui.twig" import picture, svg,button, input, toggle, radio, checkbox %}

{% block title %}Главная страница{% endblock %}

{% block body %}

<section class="intro block">
  <div class="intro__wrapper block__wrapper">
    <h1 class="intro__title">Террасная доска</h1>
    <p class="intro__side">Производим древесно-композитный декинг высокого качества: террасную доску, сайдинг и погонаж в размер заказчика</p>
  </div>
</section>

<section class="edges block">
  <div class="edges__wrapper block__wrapper">
    <h2 class="visually-hidden">Наши преимущества перед конкурентами</h2>
    <ul class="edges__list" js-slider>
      {% set edges = [
        {
          "title": "Cобственное производство",
          "description": "Контроль за всеми стадиями производственного процесса",
          "icon": {
            "id": "icon-gift",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        },
        {
          "title": "Расширенный ассортимент&nbsp;продукции",
          "description": "Возможность выбора от изделий до&nbsp;комплектующих",
          "icon": {
            "id": "icon-choices",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        },
        {
          "title": "Для любого бюджета",
          "description": "Заботимся о том, что продукция была&nbsp;доступна для Вас",
          "icon": {
            "id": "icon-wallet",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        },
        {
          "title": "Повышенная влагостойкость",
          "description": "Устойчивый материал к&nbsp;воздействию&nbsp;влаги",
          "icon": {
            "id": "icon-resistantance",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        }
      ] %}
      {% for item in edges %}
        <li class="edges__item">
          {% include "components/edge.twig" with {item: item} %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="demo block">
  <div class="demo__wrapper block__wrapper">
    <h2 class="visually-hidden">Мы занимаемся производством террасных досок</h2>
    <div class="demo__row">
      <h2 class="demo__title">Террасная доска «‎ДПК»</h2>
      <p>Это несложный монтаж, привлекательный внешний вид и долговечность</p>
    </div>
    <div class="demo__row">
      <div class="demo__image">
        <svg class="demo__icon"
          viewBox="-24 0 480 480"
          width="480"
          height="480">
          <use xlink:href="images/inline-svg.svg#icon-business"></use>
        </svg>
      </div>
      {{ button('Перейти в каталог', {href: "#"}) }}
    </div>
  </div>
</section>

<section class="hits block">
  <div class="hits__wrapper block__wrapper">
    <h2 class="hits__title">Самые популярные товары</h2>
    <ul class="hits__list" js-slider>
      {% set hits = [
        { 
          "href": "#",
          "name": "Террасная доска ‎Эконом <i>«</i>Эконом<i>»</i>",
          "picture": {
            "raster": "images/hit-1.png",
            "webp": "images/hit-1.webp",
            "alt": "Изображение террасной доски"
          },
          "title": "Перейти на страницу товара",
          "aria": "Ссылка на страницу товара"
        },
        { 
          "href": "#",
          "name": "Сайдинг <i>«</i>ДПК<i>»</i>",
          "picture": {
            "raster": "images/hit-2.png",
            "webp": "images/hit-2.webp",
            "alt": "Изображение фасадной панели из сайдинга"
          },
          "title": "Перейти на страницу товара",
          "aria": "Ссылка на страницу товара"
        },
        { 
          "href": "#",
          "name": "Террасная доска <i>«</i>СТАНДАРТ<i>»</i>",
          "picture": {
            "raster": "images/hit-3.png",
            "webp": "images/hit-3.webp",
            "alt": "Изображение террасной доски класса «Cтандарт»"
          },
          "title": "Перейти на страницу товара",
          "aria": "Ссылка на страницу товара"
        }
      ] %}
      {% for item in hits %}
        <li class="hits__item">
          <a class="hit" href="{{ item.href }}" title="{{ item.title }}" aria-label="{{ item.aria }}">
            <div class="hit__wrapper">
              <div class="hit__main">
                <picture>
                  <source type="image/webp"
                          srcset="{{ item.picture.webp }}">
                
                  <img class="hit__img"
                      src="{{ item.picture.src }}"
                      alt="{{ item.picture.alt }}">
                </picture>
              </div>
              <span class="hit__label">{{ item.name }}</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.js"></script>
{% endblock %}
