{# <div class="edge">
  <div class="edge__wrapper">
    <div class="edge__main">
      <div class="edge__image">
        <svg class="edge__icon"
            viewBox="{{ item.icon.viewBox }}"
            width="{{ item.icon.width }}"
            height="{{ item.icon.height }}">
          <use xlink:href="images/inline-svg.svg#{{ item.icon.id }}"></use>
        </svg>
      </div>
      <h3 class="edge__title">{{ item.title }}</h3>
    </div>
    <div class="edge__side">
      <p>{{ item.description }}</p>
    </div>
  </div>
</div> #}

<div class="edge">
  <div class="edge__wrapper">
    <div class="edge__image">
      <svg class="edge__icon"
          viewBox="{{ item.icon.viewBox }}"
          width="{{ item.icon.width }}"
          height="{{ item.icon.height }}">
        <use xlink:href="images/inline-svg.svg#{{ item.icon.id }}"></use>
      </svg>
    </div>
    <div class="edge__main">
      <h3 class="edge__title">{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>