<a class="hit" href="{{ item.href }}" title="{{ item.title }}" aria-label="{{ item.aria }}">
  <div class="hit__wrapper">
    <div class="hit__main">
      <img class="hit__img lazyload"
          data-src="{{ item.image.src }}"
          alt="{{ item.image.alt }}">
    </div>
    <span class="hit__label">{{ item.name }}</span>
  </div>
</a>
